<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li><%= link_to t('sign_out'), destroy_user_session_path, method: 'delete', class: 'btn btn-default navbar-btn' %></li>
        <li>
          <%= current_user.full_name %>
        </li>

      <% else %>
        <li><%= link_to t('sign_in'), new_user_session_path, class: 'btn btn-default navbar-btn' %></li>
      <% end %>
      </ul>
    </div>
  </nav>
</div>
        
