  <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a></div>
  <ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0%);">
    <li class="logo">
      <a id="logo-container" href="http://materializecss.com/" class="brand-logo">
        <%= image_tag "logo.png" %>
      </a>
    </li>
    <li><%= link_to '<i class="fa fa-list"></i> List of Projects'.html_safe, projects_path %></li>
    <li><%= link_to '<i class="fa fa-exclamation-circle"></i> About (original study)'.html_safe, 'http://study.gorgeouscode.com/', target: '_blank'  %></li>
    <li><%= link_to '<i class="fa fa-exclamation-circle"></i> About (old GC)'.html_safe, 'http://app.study.gorgeouscode.com/', target: '_blank' %></li>
  </ul>
